<div>
  <div class = "location-service-access-request">
    <% window.navigator.geolocation %>
  </div>


  <div class = 'sound-group-list'>
    <% @sound_group.each do |group| %>
      <%= link_to group.title, sound_group_url(group) %>
    <% end %>
  </div>


  <div class = 'create-sound-group'>

  <div>
</div>
