<div class = 'new-user-container'>
  <h2>Create an account!</h2>
  <form action="<%=users_url%>" method="POST">
    <div class="">
      <label > Username
        <input type="text" name="user[username]" value="" >
      </label>
      <br>
    </div>
    <div class="password-container">
      <label for="password"> Password </label>
      <input id="password" type="password" name="user[password]" value=""
      placeholder="at least 6 characters">
    </div>
    <div class="submit-button-container">
      <input class="submit-button" type="submit" value="Sign Up">
    </div>
      <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
  </form>
</div>
