<div class = 'sound-groups-index-container'>
  <!-- <div class = "location-service-access-request">
  </div> place this inside an existing div or the justify content space around will treat the empty div as an element to justify with. -->

  <div class = 'sound-group-list'>
    <h4>Existing Sound Groups</h4>
    <% @sound_groups.each do |group| %>
      <%= link_to group.name, sound_group_url(group) %>
      <br><br>
    <% end %>
  </div>


  <div class = 'sound-group-container'>
    <h4>New Sound Group Form</h4>
    <br><br>
    <form action = "" method= 'POST' >
      <div>
        <label>Name of Sound Group:
          <br><br>
          <textarea value = "" name = 'sound_group[name]'
            placeholder="Input your Sound Group Name here." ></textarea>
            <br><br>
        </label>
      </div>

      <div class = 'sound-group-button' 'submit-button-container'>
        <input class = "submit-button" type="submit" value="New Sound Group">
      </div>

      <div>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
        <input type = "hidden" name = "sound_group[leader_id]" value = "<%= current_user.id %>" >
      </div>

    </form>
  </div>
</div>
