
textarea {
    resize: none;
}

.white-space{
  display: flex;
  flex-direction: row;
  height: 100px;
}

.nav{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom left,rgb(255,255,255),rgb(220,220,220));
  z-index: 10;
  position: absolute;
}
.logo-img{
  margin-left: 7%;
  padding-top: 4%;
}

.nav-log{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}
.sound-group-show-button {
  font-size: 30px;
  color: black;
  padding: 10px;
  background-color: inherit;
  font-family: 'Pacifico', cursive;
  height: auto;
  margin-right: 7%;
  border-style: none;

}
.sound-group-show-button:hover{
  text-decoration: none;
  text-decoration-style: none;
  color: inherit;
  cursor: pointer;
}
