


.nav{
  display: flex;
  flex-direction: row;
  height: 100px;
  background: linear-gradient(to bottom left,rgb(255,255,255),rgb(220,220,220));
}
.logo-img{

}
.nav-log{
  display: flex;
  flex-direction: row;
  align-items: right;

}
