


.nav{
  display: flex;
  flex-direction: row;
  height: 100px;
  background: linear-gradient(to bottom left,rgb(255,255,255),rgb(220,220,220));
}
.logo-img{
  margin-left: 7%;
  padding-top: 7%;
}
.nav-log{
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}
.sound-group-show-button{
  height: 400px
  // how to edit button for button_to
}
