// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.new-session-container{
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/98/99/33/9899333606976bd82b7416955a2c7cab.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  z-index: 1;
}
.new-session-form{
  margin-top: 20%;
  width: 55%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgba(255,255,255, .8);
  border: 1px solid;
  border-color: black;
}

.new-session-form input {
  // width: 10vw;
}

.new-session-form h2{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.new-session-form form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
//
// .password-container {
//   justify-content: right;
// }
// .submit-button-container {
//   justify-content: right;
// }
