// Place all the styles related to the SoundGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.sound-group-show-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;

}

.sound-groups-index-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
}

.sound-group-list{
  display: flex;
  flex-direction: column;
}

.sound-group-button input{
  box-shadow: rgb(145, 184, 179) 0px 1px 3px 0px inset;
  background: linear-gradient(rgb(118, 141, 135) 5%, rgb(108, 124, 124) 100%) rgb(118, 141, 135);
  border-radius: 5px;
  border: 1px solid rgb(86, 105, 99);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: rgb(43, 102, 94) 0px -1px 0px;
  border-radius: 40%;
}

.sound-group-container label{
  width: 100%;
}
textarea{
  width: 100%;
}
