// Place all the styles related to the SoundGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.sound-group-show-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(to bottom left, #63A3CC ,#5F92B2);
  height: 100%;
}

.sound-groups-index-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(to bottom left, #5F92B2 ,#63A3CC);
  height: 100%;
}

.sound-group-list{
  display: flex;
  flex-direction: column;
}

.sound-group-container{
  display: flex;
  flex-direction: column;
}

.sound-group-button input{
  box-shadow: rgb(145, 184, 179) 0px 1px 3px 0px inset;
  background: linear-gradient(rgb(118, 141, 135) 5%, rgb(108, 124, 124) 100%) rgb(118, 141, 135);
  border-radius: 5px;
  border: 1px solid rgb(86, 105, 99);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding-right: 10px;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: rgb(43, 102, 94) 0px -1px 0px;
  border-radius: 40%;
}

.speaker-arrangement{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.sound-group-container label{
  width: 100%;
}

.sound-controls{
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  padding-right: 25%;
}

.members{
  width: 20%;
}

.music-player{
  padding-left: 10%;
  padding-right: 10%;
}

textarea{
  width: 99%;
  padding-right: 0px;
  border-right: 0px;
}


button {
    background-color: lightgrey; /* Green */
    border: 1px solid black;
    color: #444444;
    padding: 5px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
  color: #000000;
  background-color: #BBBBBB;
}
