// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_track{
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 300px;
}
