// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body{
  display: flex;

}

.users-img{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXXsQBVKHjcTnDgfFYKWzYzD0m_jvUssP-vQUrkav_39G9mrBASQ');
}


.new-user-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgba(255,255,255, 1);
  border: 1px solid;
  border-color: black;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
}

.submit-button-container input{
  margin-left: 30%;
  border-radius: 25px;
  background-color: green;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
