// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body{
  display: flex;

}




.new-user-container{
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/98/99/33/9899333606976bd82b7416955a2c7cab.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  z-index: 1;
}
.new-user-form{
  margin-top: 20%;
  width: 55%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgba(255,255,255, .8);
  border: 1px solid;
  border-color: black;
}

.new-user-form h2{
  text-align: center;
}
.new-user-form form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
//
// .new-user-container{
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   background:rgba(255,255,255, 1);
//   border: 1px solid;
//   border-color: black;
//   font-family: Arial;
//   font-size: 25px;
//   font-weight: bold;
// }

.submit-button-container input{
  border-radius: 25px;
  background-color: green;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 70px;
}
